/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*Override of the browser's default styles (Wildcard Selector)*/
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*Generic Page Styling*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: 'nunito-sans', sans-serif;
}



/*HEADER*/
header {
    width: 100%;
    background-color: #6f010a;
    /*This padding keeps the text from being right up against side of the screen*/
    padding: 0 1rem;
    /*Enables navbar to scroll*/
    position: fixed;
    z-index: 99;
    /*Shadow for nav bar*/
    box-shadow: 0 2px 2px Grey #9f9999;

}

    /*Remove hyperlink underline & inhert text color of body (parent) element*/
    header a {
        text-decoration: none;
        color: inherit;
    }

/*Delete this and use text as a plan B if banner doesn't work*/
h1 {
    font-family: 'nunito-sans', sans-serif;
    letter-spacing: 3px;
}

/*Nav Links Styles*/
#nav-links {
    letter-spacing: 3px;
    list-style-type: none;
    margin-bottom: 0.5em;
}


/*MAIN CONTENT*/ 
main {
    background-color: #8f020b;
    /*this flex setting fills excess space, pushes footer to bottom*/
    flex: 1 0 auto; 


}

/*FOOTER*/
footer {
    background-color: #d30313;
}

